site_name: QTasks
site_url: https://txello.github.io/qtasks/
docs_dir: docs
site_author: Satoru Ito
copyright: Satoru Ito, 2025

repo_name: txello/qtasks
repo_url: https://github.com/txello/qtasks

theme:
  name: material
  language: en
  favicon: assets/images/qtasks.png
  logo: assets/images/qtasks.png
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow

  icon:
    admonition:
      note: octicons/tag-16
      info: octicons/info-16
    annotation: material/arrow-right-circle

extra_css:
  - assets/css/images.css

markdown_extensions:
  admonition:
  pymdownx.details:
  pymdownx.superfences:
  # Python Markdown
  abbr:
  attr_list:
  footnotes:
  md_in_html:
  tables:
  toc:
    permalink: true

  # Python Markdown Extensions
  pymdownx.betterem:
  pymdownx.caret:
  pymdownx.highlight:
    line_spans: __span
  pymdownx.inlinehilite:
  pymdownx.keys:
  pymdownx.mark:
  pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.tilde:

  # pymdownx blocks
  pymdownx.blocks.admonition:
    types:
    - note
    - attention
    - caution
    - danger
    - error
    - tip
    - hint
    - warning
    # Custom types
    - info
    - check
  pymdownx.blocks.details:
  pymdownx.blocks.tab:
    alternate_style: True

  pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


extra:
  alternate:
    - name: en - English
      link: "/"
      lang: en

    - name: ru - Русский
      link: /qtasks/ru/
      lang: ru
  social:
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/qtasks/
      name: PyPI


plugins:
  - search
  - autorefs:
      resolve_closest: true
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            docstring_options:
              warnings: false
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          build: true
          default: true
        - locale: ru
          name: Русский
          build: true

extra_javascript:
  - https://unpkg.com/mermaid@10.9.1/dist/mermaid.min.js
  - assets/js/mermaid-init.js

nav:
  - QueueTasks:
      - QueueTasks: index.md
      - Установка: install.md
      - Первые шаги: getting_started.md
      - Компоненты: components.md
      - Схемы: schemas.md
      - Работа с консолью: console.md
      - Тестирование: tests.md
      - Что дальше?: next.md

  - Возможности:
      - Общее: features/index.md
      - Уникальность: features/uniqueness.md
      - (A)syncTask - Декоратор задачи: features/task.md
      - Contexts - Контексты задач: features/contexts.md
      - yield - Генераторы в задачах: features/yield.md
      - Pydantic - Моделирование данных: features/pydantic.md
      - Depends - Управляемые зависимости: features/depends.md
      - States - Машины состояния данных: features/states.md
      - Timer - Планировщик задач: features/timer.md
      - Stats - Встроенная аналитика: features/stats.md

  - Архитектура:
    - Главная: architecture/index.md
    - Выполнение задач: architecture/task_flow.md
    - Схема компонентов:
      - Главная: architecture/components/index.md
      - Абстрактные классы: architecture/components/abstract_classes.md
      - Схемы данных: architecture/components/schemas.md
      - Потоки и асинхронность: architecture/components/threads_async.md
      - Плагинная система: architecture/components/plugin_system.md
    - Интеграция с библиотеками:
      - Главная: architecture/integrations/index.md
      - Django: architecture/integrations/django.md
    - Конфигурация: architecture/configuration.md
    - Расширяемость: architecture/extensibility.md

  - Примеры:
    - Примеры: examples/index.md
    - Возможности: examples/features.md
    - Генераторы: examples/yield.md
    - Контексты: examples/echo.md
    - Переменные: examples/variables.md
    - Плагины: examples/plugins.md
    - Интеграция с другими библиотеками:
      - Общее: examples/integrations/index.md
      - Django: examples/integrations/django.md
    - Аналитика: examples/analytics.md
    - Практика:
      - Фрилансер: examples/practice/freelancer.md
      - Малый бизнес: examples/practice/small_business.md
      - Крупный бизнес: examples/practice/large_business.md

  - API:
      - Триггеры плагинов:
        - Триггеры: api/plugins/triggers.md
        - Ошибки: api/plugins/errors.md
      - Поддержка библиотек:
        - Django: api/libraries/django.md
      - QueueTasks: api/queuetasks.md
      - Asyncio:
        - QueueTasks: api/asyncio/queuetasks.md
      - Роутер: api/router.md
      - Брокеры:
        - BaseBroker - Пишем свой брокер: api/brokers/basebroker.md
        - SyncRedisBroker: api/brokers/sync_redisbroker.md
        - AsyncRedisBroker: api/brokers/async_redisbroker.md
        - SyncRabbitMQBroker: api/brokers/sync_rabbitmqbroker.md
        - AsyncRabbitMQBroker: api/brokers/async_rabbitmqbroker.md
        - SyncKafkaBroker: api/brokers/sync_kafkabroker.md
        - AsyncKafkaBroker: api/brokers/async_kafkabroker.md
        - SyncSocketBroker: api/brokers/sync_socket.md
        - AsyncSocketBroker: api/brokers/async_socket.md
      - Воркеры:
        - BaseWorker - Пишем свой воркер: api/workers/baseworker.md
        - SyncThreadWorker: api/workers/sync_threadworker.md
        - AsyncWorker: api/workers/async_worker.md
      - Хранилища:
        - BaseStorage - Пишем своё хранилище: api/storages/basestorage.md
        - SyncRedisStorage: api/storages/sync_redisstorage.md
        - AsyncRedisStorage: api/storages/async_redisstorage.md
      - Глобальные конфиги:
        - BaseGlobalConfig - Пишем свой глобальный конфиг: api/globalconfig/baseglobalconfig.md
        - SyncRedisGlobalConfig: api/globalconfig/sync_redisglobalconfig.md
        - AsyncRedisGlobalConfig: api/globalconfig/async_redisglobalconfig.md
      - Стартеры:
        - BaseStarter - Пишем свой запуск: api/starters/basestarter.md
        - SyncStarter: api/starters/sync_starter.md
        - AsyncStarter: api/starters/async_starter.md
      - Ожидание результата:
        - SyncResult: api/results/sync_result.md
        - AsyncResult: api/results/async_result.md
      - Модели:
        - Task: api/models/task.md
      - Схемы:
        - QueueConfig: api/schemas/queueconfig.md
        - TaskStatus: api/schemas/task_status.md
        - TaskExec: api/schemas/task_exec.md
        - Inits: api/schemas/inits.md
        - GlobalConfig: api/schemas/global_config.md
        - TestConfig: api/schemas/test_config.md
        - TaskStatusEnum: api/schemas/task_status_enum.md
      - Декораторы:
        - SyncTask: api/registries/sync_task_decorator.md
        - AsyncTask: api/registries/async_task_decorator.md
      - Контексты:
        - SyncContext: api/contexts/sync_context.md
        - AsyncContext: api/contexts/async_context.md
      - Исполнители задач:
        - BaseTaskExecutor - Пишем свой исполнитель задач: api/executors/basetask_executor.md
        - SyncTaskExecutor: api/executors/sync_task_executor.md
        - AsyncTaskExecutor: api/executors/async_task_executor.md
      - Мидлвари:
        - BaseMiddleware - Пишем свой мидлварь: api/middlewares/basemiddleware.md
        - TaskMiddleware: api/middlewares/task_middleware.md
      - Глобальные переменные: api/states.md
      - Тестирование:
        - BaseTestCase - Пишем свой кейс тестирования: api/tests/basetests.md
        - SyncTestCase: api/tests/sync_testcase.md
        - AsyncTestCase: api/tests/async_testcase.md
      - Логирование: api/logs.md
      - Классы:
        - SyncRedisCommandQueue: api/classes/sync_redis_commands.md
        - AsyncRedisCommandQueue: api/classes/async_redis_commands.md
        - BaseQueueTasks: api/classes/baseqtasks.md
      - Timer:
        - BaseTimer - Пишем свой Таймер: api/timers/basetimer.md
        - SyncTimer: api/timers/sync_timer.md
        - AsyncTimer: api/timers/async_timer.md
      - Аналитика:
        - BaseStats - Пишем свою аналитику: api/stats/basestats.md
        - AsyncStats - Пишем свою аналитику: api/stats/async_stats.md
        - SyncStats - Пишем свою аналитику: api/stats/sync_stats.md
        - Inspect:
          - UtilsInspectStats: api/stats/inspect/utils_inspect_stats.md
          - InspectStats: api/stats/inspect/inspect_stats.md
      - WebView: api/webview.md
      - Исключения: api/exceptions.md
  - История изменений: changelog.md
  - Блог: blog.md
  #- О проекте: about.md


watch:
  - src/qtasks  # Следить за изменениями в коде
