site_name: QTasks
site_url: https://txello.github.io/qtasks/
docs_dir: docs
site_author: Satoru Ito
copyright: Satoru Ito, 2025

repo_name: txello/qtasks
repo_url: https://github.com/txello/qtasks

theme:
  name: material
  language: ru
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  # - navigation.instant.preview
  - navigation.instant.progress
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow

  icon:
    admonition:
      note: octicons/tag-16
      info: octicons/info-16


markdown_extensions:
  admonition:
  pymdownx.details:
  pymdownx.superfences:
  # Python Markdown
  abbr:
  attr_list:
  footnotes:
  md_in_html:
  tables:
  toc:
    permalink: true

  # Python Markdown Extensions
  pymdownx.betterem:
  pymdownx.caret:
  pymdownx.highlight:
    line_spans: __span
  pymdownx.inlinehilite:
  pymdownx.keys:
  pymdownx.mark:
  pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.tilde:

  # pymdownx blocks
  pymdownx.blocks.admonition:
    types:
    - note
    - attention
    - caution
    - danger
    - error
    - tip
    - hint
    - warning
    # Custom types
    - info
    - check
  pymdownx.blocks.details:
  pymdownx.blocks.tab:
    alternate_style: True
  

extra:
  alternate:
    #- name: en - English
    #  link: ./en/
    
    - name: ru - Russian
      link: ./ru/
  social:
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/qtasks/
      name: PyPI

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false
  - i18n:
      #default_language_only: ru
      languages:
        - locale: ru
          name: Русский
          default: true
          build: true
        #- locale: en
        #  name: English
        #  build: true

nav:
  - QueueTasks:
      - QueueTasks: index.md
      - Установка: ru/install.md
      - Первые шаги: ru/getting_started.md
      - Компоненты: ru/components.md
      - Тестирование: ru/tests.md
  - Возможности: ru/features.md
  - API:
      - QueueTasks: ru/api/queuetasks.md
      - Asyncio:
        - QueueTasks: ru/api/asyncio/queuetasks.md
      - Роутер: ru/api/router.md
      - Брокеры:
        - BaseBroker - Пишем свой брокер: ru/api/brokers/basebroker.md
        - SyncRedisBroker: ru/api/brokers/sync_redisbroker.md
        - AsyncRedisBroker: ru/api/brokers/async_redisbroker.md
      - Воркеры:
        - BaseWorker - Пишем свой воркер: ru/api/workers/baseworker.md
        - SyncThreadWorker: ru/api/workers/sync_threadworker.md
        - AsyncWorker: ru/api/workers/async_worker.md
      - Хранилища:
        - BaseStorage - Пишем своё хранилище: ru/api/storages/basestorage.md
        - SyncRedisStorage: ru/api/storages/sync_redisstorage.md
        - AsyncRedisStorage: ru/api/storages/async_redisstorage.md
      - Timer:
        - BaseTimer - Пишем свой Таймер: ru/api/timers/basetimer.md
        - SyncTimer: ru/api/timers/sync_timer.md
        - AsyncTimer: ru/api/timers/async_timer.md
      - WebView: ru/api/webview.md
      - Модели:
        - Task: ru/api/schemas/task.md
      - Схемы:
        - TaskStatus: ru/api/schemas/task_status.md
        - TaskExec: ru/api/schemas/task_exec.md
        - Inits: ru/api/schemas/inits.md
        - GlobalConfig: ru/api/schemas/global_config.md
        - TestConfig: ru/api/schemas/test_config.md
      - Тестирование:
        - BaseTestCase - Пишем свой кейс тестирования: ru/api/tests/basetests.md
        - SyncTestCase: ru/api/tests/sync_testcase.md
        - AsyncTestCase: ru/api/tests/async_testcase.md
  - Примеры:
    - Примеры: ru/examples.md
  - История изменений: ru/changelog.md
  - Блог: ru/blog.md
  #- О проекте: ru/about.md


watch:
  - src/qtasks  # Следить за изменениями в коде